{% extends 'base.html' %}
{% load core_tags %}

{% block content %}

<h1 style="text-align: left; padding-top: 1em; padding-bottom: 0em;">Open actions overview:</h1>

<div style = "position:relative;
	      height: 15em;
	      width: 80em;
	      overflow-y: auto;
	      overflow-x: scroll;">
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Description</th>
        <th scope="col">Visibility</th>
        <th scope="col">Tags</th>
	<th scope="col" nowrap="nowrap">Parent project</th>
        <th scope="col" nowrap="nowrap">Start Date</th>
        <th scope="col" nowrap="nowrap">Start Time</th>
        <th scope="col" nowrap="nowrap">End Date</th>
        <th scope="col" nowrap="nowrap">End Time</th>
      </tr>
    </thead>
    <tbody>
      {% for act in open_act_set %}
      <tr>
	<th scope="row">{{ act.id }}</th>
	<td nowrap="nowrap">{{ act.description }}</td>
	<td>{{ act.visibility|show_visibility }}</td>
	<td nowrap="nowrap">{{ act.get_tag_str }}</td>
	<td>{{ act.p_project }}</td>
	<td nowrap="nowrap">{{ act.start_date }}</td>
	<td nowrap="nowrap">{{ act.start_time }}</td>
	<td nowrap="nowrap">{{ act.end_date }}</td>
	<td nowrap="nowrap">{{ act.end_time }}</td>
	<td nowrap="nowrap">
          <a style="margin-right: 30px;" href="{% url 'act-update' act.id %}">Edit</a>
          <a href="{% url 'act-delete' act.id %}">Remove</a> 
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<h1 style="text-align: left; padding-top: 1em; padding-bottom: 0em;">Closed actions overview:</h1>

<div style = "position:relative;
	      height: 15em;
	      width: 60em;
	      overflow-y: auto;    
	      overflow-x: auto;">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Description</th>
        <th scope="col">Visibility</th>
        <th scope="col">Tags</th>
	<th scope="col">Parent project</th>
        <th scope="col">Start Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Date</th>
        <th scope="col">End Time</th>
      </tr>
    </thead>
    <tbody>
      {% for act in closed_act_set %}
      <tr>
	<th scope="row">{{ proj.id }}</th>
        <td>{{ act.description }}</td>
        <td>{{ act.visibility|show_visibility }}</td>
	<td>{{ act.get_tag_str }}</td>
	<td>{{ act.p_project }}</td>
        <td>{{ act.start_date }}</td>
        <td>{{ act.start_time }}</td>
        <td>{{ act.end_date }}</td>
        <td>{{ act.end_time }}</td>
	<td>
          <a style="margin-right: 30px;" href="{% url 'act-update' act.id %}">Edit</a>
          <a href="{% url 'act-delete' act.id %}">Remove</a> 
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<br></br>
<div class="text-center">
  <a href="{% url 'act-new' %}"><button type="button" class="btn btn-primary">New Action</button></a>
  <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Homepage</button></a>
</div>

{% endblock content %}
